
h1 {
  font-family: helvetica;
  text-align: center;
  margin-top: 50px;
  margin-left: auto;
  margin-bottom: -50px;
}
h2 {
  font-family: helvetica;
  text-align: center;
}
tr{
	background:#f2f2f2;
}
table{
	margin-left:75px;
}
td{
	text-align: center;
	width: 200px;
	height:30px;
}
th{
	width: 100px;
}
.cari{
	margin-top:10px;
	margin-left:75px;
	margin-bottom:10px;
}
.btn{
	background:#f2f2f2;
	width: 225px;
	height :25px;
	margin-left:75px;
}
.btn2{
	background:#f2f2f2;
	width: 175px;
	height :25px;
	margin-top:10px;
	margin-left:150px;
}